.cards-section{
    height: auto;
    padding: 200px;
}

.form-section{
    background-color: rgb(215, 210, 210);
    height: auto;
    padding: 200px;
}

.heading-section{
    background-color: black;
    height: auto;
    padding: 200px;
}

.heading-section h1{
    font-size: 50px;
    color: orange
}

.heading-section h2 {
    font-size: 24px;
    color: white
}